.wrapper {
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  margin: 5px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #db3d44;
    cursor: pointer;

    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;

    .dateText {
      color: #FFFFFF;
    }
  }
}

.fourCols {
  width: 60px;
  height: 60px;
}

.dateText {
  font-size: 16px;
  line-height: 16px;
  color: #888888;
  font-family: Arial, sans-serif;

  &:hover {
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
  }
}

.current {
  background-color: #FFFFFF;

  .dateText {
    color: #db3d44;
  }
}

.active {
  background-color: #db3d44;
  transition: none;

  .dateText {
    color: #FFFFFF;
  }
}

.disabled {
  cursor: not-allowed;
  color: #eeeeee;
  background-color: #FFFFFF;

  &:hover {
    background-color: #FFFFFF;
    cursor: not-allowed;

    .dateText {
      color: #eeeeee;
    }
  }
}